.footer {
    background-color: #FFFFFF;
    color: #385D50;
    padding: 20px 0;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #385D50;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.footer-content .footer-links {
    display: flex;
    align-items: center;
}
.social-icons {
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 1.5rem;
}
.social-icons:hover{
    transform: scale(1);
}
.footer-img:hover {
    transform: scale(1.5);
    
}
.footer .footer-newsletter {
    display: flex;
    flex-direction: ;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.footer .input-group {
    width: 350px;
}
.footer .sub-btn {
    background-color: #385D50;
    color: #fff;
}