.home-container{
    display: flex;
    background-color: #385D50;
}
.home-container img{
    width: 100%;
    height: 100%;
}
.home {
    background-color: #385D50;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
    .home h1 {
        font-size: 2.5rem;
        margin: 10px;
        text-align: center;
    }
  .btn-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
  }
  .btn-group .btn {
    border-radius: 50px ;
    padding: 10px 40px;

  }
  .why-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
  }
    .why-us img {
        width: 380px;
        height: 100%;
    }
    .why-us-content {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        justify-content: center;
        gap: 30px;
        
    }
    .why-us-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .why-us-item h2 {
        font-size: 1.5rem;
        color: #385D50;
    }
    .why-us-item p {
        font-size: 1rem;
        color: #000;
    }
    .why-us-item span {
        font-size: 1rem;
        color: #000;
    }