.navbar {
    background-color: #385D50;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .navbar li {
    margin: 0 20px;
  }
  .navbar li:hover {
    color: #385D50;
    transform: scale(1.1);
    border-radius: 5px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  
  .icons {
    display: flex;
    gap: 20px;
  }
  /* ********************************************  */
  .home {
    background-color: #385D50;
    color: #fff;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .btn-group {
    display: flex;
    gap: 20px;
  }
  .btn {
    border-radius: 50px ;
  }
  .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
  }
  .cart {
    position: relative;
  }