/* General Styling */
.contact-us-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* Hero Section */
  .contact-hero {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    color: #555;
  }
  
  /* Contact Details Section */
  .contact-details {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .details-box {
    width: 30%;
    text-align: center;
  }
  
  .details-box h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
  }
  
  .details-box p {
    font-size: 1.1rem;
    color: #555;
    margin-top: 5px;
  }
  
  .details-box a {
    color: #2eb3a7;
    text-decoration: none;
  }
  
  .details-box a:hover {
    text-decoration: underline;
  }
  
  /* Contact Form Section */
  .contact-form {
    text-align: center;
  }
  
  .contact-form h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submit-btn {
    padding: 12px 20px;
    background-color: #35736E;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #49a19a;
  }
  
